// SmoothScrollHero.module.scss

.smoothScrollHero {
  background-color: #ffffff; // zinc-950
}
.nav {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 50;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.75rem 1.5rem;
  color: white;

  .logo {
    font-size: 1.875rem;
    mix-blend-mode: difference;
  }

  .scheduleButton {
    display: flex;
    align-items: center;
    gap: 0.25rem;
    font-size: 0.75rem;
    color: #000000; // zinc-400
  }
}

.hero {
  position: relative;
  width: 100%;
}

.centerImage {
  position: sticky;
  top: 0;
  height: 100vh;
  width: 100%;
  background-image: url("/images/bk2.jpg");
  background-position: center;
  background-repeat: no-repeat;
}

.gradient {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 24rem;
  background: linear-gradient(to bottom, rgba(178, 164, 164, 0), #09090b);
}

.parallaxImages {
  max-width: 64rem;
  margin: 0 auto;
  padding: 0 1rem;
  padding-top: 200px;
}

.imageOneThird {
  width: 33.333%;
}

.imageTwoThirds {
  width: 66.667%;
  margin: 0 auto;
}

.imageOneThirdRight {
  width: 33.333%;
  margin-left: auto;
}

.imageFivetwelfths {
  width: 41.667%;
  margin-left: 6rem;
}

.schedule {
  max-width: 64rem;
  margin: 0 auto;
  padding: 12rem 1rem;
  color: rgb(255, 255, 255);
}

.scheduleTitle {
  margin-bottom: 5rem;
  font-size: 2.25rem;
  font-weight: 900;
  text-transform: uppercase;
  color: #ffffff; // zinc-50
}

.scheduleItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2.25rem;
  border-bottom: 1px solid #27272a; // zinc-800
  padding: 0 0.75rem 2.25rem;
  cursor: pointer;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: rgba(139, 110, 110, 0.05);
  }

  .scheduleItemTitle {
    margin-bottom: 0.375rem;
    font-size: 1.25rem;
    color: #000000; // zinc-50
  }

  .scheduleItemDate {
    font-size: 0.875rem;
    text-transform: uppercase;
    color: #000000; // zinc-500
  }

  .scheduleItemLocation {
    display: flex;
    align-items: center;
    gap: 0.375rem;
    text-align: end;
    font-size: 0.875rem;
    text-transform: uppercase;
    color: #000000; // zinc-500
  }
}

.drawerContent {
  color: #ffffff;
  padding: 1rem;
}

.drawerTitle {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.drawerDate,
.drawerLocation {
  font-size: 1.1rem;
  margin-bottom: 0.5rem;
}

.drawerDescription {
  font-size: 1rem;
  line-height: 1.6;
  margin-top: 1rem;
}
