$color-border: #ba8c8c;

.nav {
  padding: 1.5rem 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid $color-border;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: sticky;
  background-color: white;
  z-index: 100;
  width: 100%;
  top: 0;
}

/* Responsive Styles */
@media (max-width: 1024px) {
  .nav {
    padding: 1.2rem 2rem; /* Adjust padding for tablets */
  }
}

@media (max-width: 768px) {
  .nav {
    padding: 1rem 1.5rem; /* Adjust padding for small tablets */
  }
}

@media (max-width: 480px) {
  .nav {
    padding: 0.8rem 1rem; /* Adjust padding for mobile devices */
  }
}
