.sparklesText {
  position: relative;
  display: inline-block;
  font-size: 3.3rem; /* Default font size for mobile devices */
  font-weight: bold;

  .sparkle {
    position: absolute;
    pointer-events: none;
    z-index: 20;
  }

  @media (min-width: 640px) {
    font-size: 5rem;
  }

  @media (min-width: 768px) {
    font-size: 5rem;
  }

  @media (min-width: 1024px) {
    font-size: 5.5rem;
  }

  @media (min-width: 1280px) {
    font-size: 5.5rem;
  }
}
